<div class="form-group">
    <label for="title">Title</label>
    <input value="<%=article.title %>" type="text" name="title" id="title" class="form-control" required />
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea  name="description" id="description" class="form-control"
        required><%=article.description%></textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control" required><%= article.markdown %> </textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Post</button>
